{% extends "generic_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow">
                <div class="card-header justify-content-between d-flex">
                    <h3 class="card-title">Attendances</h3>
                    {% if request.user.is_superuser or request.user.employee.role.name == "HR Manager" %}
                        <a class="btn btn-dark" href="{% url 'emsapp:attendance_create' %}">Add Attendance</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Employee</th>
                            <th>Date</th>
                            <th>Present</th>
                            {% if request.user.is_superuser or request.user.employee.role.name == "HR Manager" %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ object.employee }}</td>
                                <td>{{ object.date }}</td>
                                <td>
                                    {% if object.is_present %}
                                        <span class="btn btn-success">Yes</span>
                                    {% else %}
                                        <span class="btn btn-danger">No</span>
                                    {% endif %}
                                </td>
                                {% if request.user.is_superuser or request.user.employee.role.name == "HR Manager" %}
                                    <td>
                                        <a href="{% url 'emsapp:attendance_update' object.id %}"
                                           class="btn btn-warning">Edit</a>
                                        <a href="{% url 'emsapp:attendance_delete' object.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
