{% extends "generic_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow">
                <div class="card-header justify-content-between d-flex">
                    <h3 class="card-title">Employees</h3>
                    <a class="btn btn-dark" href="{% url 'emsapp:employee_create' %}">Add Employee</a>
                </div>
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Department</th>
                            <th>Position</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employee in object_list %}
                            <tr>
                                <td>{{ employee.id }}</td>
                                <td>
                                    <a href="{% url 'emsapp:employee_detail' pk=employee.id %}">
                                        {% if employee.user.get_full_name %}
                                            {{ employee.user.get_full_name }}
                                        {% else %}
                                            {{ employee.user.username }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ employee.role.name|default_if_none:'-' }}</td>
                                <td>{{ employee.department.name }}</td>
                                <td>{{ employee.position }}</td>
                                <td>{{ employee.mobile_no|default_if_none:"-" }}</td>
                                <td>{{ employee.user.email }}</td>
                                <td>
                                    <a href="{% url 'emsapp:employee_update' employee.id %}" class="btn btn-warning">Edit</a>
                                    <a href="{% url 'emsapp:employee_delete' employee.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
