{% extends "generic_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow">
                <div class="card-header justify-content-between d-flex">
                    <h3 class="card-title">PayRolls</h3>
                    <a class="btn btn-dark" href="{% url 'emsapp:payroll_create' %}">Add PayRoll</a>
                </div>
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Employee</th>
                            <th>Basic Salary</th>
                            <th>Bonuses</th>
                            <th>Deductions</th>
                            <th>Net Salary</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ object.employee }}</td>
                                <td>{{ object.basic_salary }}</td>
                                <td>{{ object.bonuses }}</td>
                                <td>{{ object.deductions }}</td>
                                <td>{{ object.net_salary }}</td>
                                <td>
                                    {% if object.is_active %}
                                        <span class="btn btn-success">Active</span>
                                    {% else %}
                                        <span class="btn btn-secondary">Inactive</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'emsapp:payroll_update' object.id %}" class="btn btn-warning">Edit</a>
                                    <a href="{% url 'emsapp:payroll_delete' object.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
