{% extends "generic_base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow">
                <div class="card-header justify-content-between d-flex">
                    <h3 class="card-title">PayRolls</h3>
                    {% if request.user.is_superuser or request.user.employee.role.name == "Payroll Manager" %}
                        <a class="btn btn-dark" href="{% url 'emsapp:payroll_create' %}">Add PayRoll</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="mb-2 pb-1 border-bottom">
                        <form action="" method="get">
                            <div class="d-flex justify-content-between">
                                {% if request.user.is_superuser or request.user.employee.role.name == "HR Manager" or request.user.employee.role.name == "Payroll Manager" %}
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Search by Name">
                                    </div>
                                    <div class="mb-2">
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="Search by Email">
                                    </div>
                                {% endif %}
                                <div class="mb-2">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">Search By Month</span>
                                        <input type="month" class="form-control" name="month"
                                               aria-label="Month" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-outline-success" type="submit" id="button-addon2">Search
                                    </button>
                                    <a class="btn btn-outline-warning" href="{% url 'emsapp:payroll_list' %}">Clear
                                        Filter</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Month</th>
                            <th>Employee</th>
                            <th>Basic Salary</th>
                            <th>Bonuses</th>
                            <th>Deductions</th>
                            <th>Tax Deductions</th>
                            <th>Overtime Pay</th>
                            <th>Allowances</th>
                            <th>Net Salary</th>
                            <th>Status</th>
                            {% if request.user.is_superuser or request.user.employee.role.name == "Payroll Manager" %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ object.get_month_name }} - {{ object.get_year }}</td>
                                <td>{{ object.employee }}</td>
                                <td>{{ object.basic_salary }}</td>
                                <td>{{ object.bonuses }}</td>
                                <td>{{ object.deductions }}</td>
                                <td>{{ object.tax_deductions }}</td>
                                <td>{{ object.overtime_pay }}</td>
                                <td>{{ object.allowances }}</td>
                                <td>{{ object.get_net_salary }}</td>
                                <td>
                                    {% if object.status == "paid" %}
                                    <span class="btn btn-success">Paid</span>
                                    {% elif object.status == "pending" %}
                                    <span class="btn btn-warning">Pending</span>
                                        {% else %}
                                        <span class="btn btn-danger">Cancelled</span>
                                    {% endif %}
                                </td>
                                {% if request.user.is_superuser or request.user.employee.role.name == "Payroll Manager" %}
                                    <td>
                                        <a href="{% url 'emsapp:payroll_update' object.id %}"
                                           class="btn btn-warning btn-sm">Edit</a>
                                        <a href="{% url 'emsapp:payroll_delete' object.id %}"
                                           class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
